<ion-view view-title="CATS 101">
  <ion-content class="padding">
      <h2>TIPS MERAWAT KUCING</h2>
      <div class="card">
        <div class="item item-divider">
          PERHATIKAN NUTRISINYA
        </div>
        <div class="item item-text-wrap">
          Anak kucing membutuhkan jumlah gizi dua kali lebih besar dibanding kucing dewasa. Meskipun ia membutuhkan lebih banyak
          nutrisi, itu bukan berarti Anda harus memberinya makan berlebihan.
          Setelah 5-6 minggu, berikan makanan secara rutin 4 kali setiap hari.
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          MEMILIH MAKANAN YANG SESUAI
        </div>
        <div class="item item-text-wrap">
          Jangan berikan makanan anjing untuk kucing! Makanan anjing tidak mengandung taurin,
          nutrisi yang dibutuhkan kucing untuk mencegah penyakit jantung dan penglihatan kabur.
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          MEMANDIKAN KUCING
        </div>
        <div class="item item-text-wrap">
        Tidak perlu memandikan kucing secara teratur. Ketika bulu kucing mulai berbau, Anda dapat memandikannya dengan air dingin.
        Air panas dapat merusak bulu dan menyebabkan iritasi kulit pada kucing.
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          MENYIKAT BULU KUCING
        </div>
        <div class="item item-text-wrap">
        Sikat bulu kucing secara rutin. Hal ini dapat menghilangkan rambut mati, kuman dan bakteri pada bulu.
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          AJAK BERMAIN
        </div>
        <div class="item item-text-wrap">
        Pergi keluar dan bermain dengannya. Kegiatan fisik membantu pertumbuhan dan perkembangan anak kucing dengan baik.
        Hewan peliharaan Anda akan tumbuh sehat dan lincah.
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          VAKSINASI
        </div>
        <div class="item item-text-wrap">
        Vaksinasi. Vaksinasi wajib dilakukan secara rutin untuk menghindari virus dan penyakit.
        Untuk itu, segera berkonsultasilah dengan dokter hewan.
        </div>
      </div>
  </ion-content>
</ion-view>
