<ion-view view-title="CATS 101" style="color: #fafafa">
  <ion-content class="padding">
    <h2>NUTRISI KUCING DEWASA</h2>
    <div class="card">
      <div class="item item-divider">
        AIR
      </div>
      <div class="item item-text-wrap">
        Air adalah nutrisi penting setiap makhluk hidup. Kandungan air dalam tubuh kucing
        adalah 60 - 70%. Makanan kucing memiliki tingkat kelembaban tersendiri, untuk
        makanan kering memiliki kelembaban 10% untuk makanan basah memiliki kelembaban
        78%. penurunan kadar air pada kucing dapat menyebabkan penyakit hingga kematian.
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        NUTRISI
      </div>
      <div class="item item-text-wrap">
        Protein adalah bahan pembentukan sel, jaringan, organ, dan antibodi. Protein juga
        sangat penting dalam pertumbuhan dan perbaikan tubuh. Protein yang dapat dicerna
        oleh kucing hanya protein hewani yang bersumber dari daging dagingan.
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        LEMAK
      </div>
      <div class="item item-text-wrap">
      Lemak dapat memberikan energi pada kucing bahkan 2 kali lipat lebih banyak
      dibanding protein dan karbohidrat. Namun, kelebihan lemak pun tidak baik untuk
      kucing.
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        KARBOHIDRAT
      </div>
      <div class="item item-text-wrap">
      Kucing tidak mempunyai batas minimum terhadap karbohidrat, namun kucing masih
      membutuhkan glukosa yang ada pada karbohidrat untuk memberikan energi pada otak.
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        SERAT
      </div>
      <div class="item item-text-wrap">
      Serat dapat membantu mencegah sembelit pada kucing.
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        VITAMIN
      </div>
      <div class="item item-text-wrap">
      Vitamin dibutuhkan untuk membantu metabolisme dalam tubuh, kekurangan vitamin
      atau kelebihan vitamin dapat berakibat fatal. Misalnya, kelebihan vitamin A dapat
      menyebabkan nyeri pada tulang kucing.
      </div>
    </div>
    <h2 class="padding">NUTRISI KUCING KECIL</h2>
    <div class="card">
      <div class="item item-text-wrap">
        Anak kucing dapat mulai diberi makanan pada umur 3-4 minggu. Makanan yang diberikan biasanya direndam air hangat secukupnya,
        dihancurkan dan dihaluskan. Untuk pertama kali anak kucing masih perlu diajari, disuapi dengan pipet atau oleskan
        sebagian kecil makanan pada mulut, kemudian dekatkan piring makanan untuk melihat apakah sudah mau makan sendiri.
        Berikan makanan khusus untuk anak kucing (kitten) karena biasanya kandungan protein lebih tinggi dan banyak mengandung
        nutrisi yang diperlukan untuk pertumbuhan.
        Sampai dengan umur 2-3 bulan jumlah/proporsi air dalam makanan bisa dikurangi secara bertahap hingga kucing bisa makan,
        makanan kering sepenuhnya.
      </div>
    </div>
    <h2 class="padding">NUTRISI KUCING HAMIL</h2>
    <div class="card">
      <div class="item item-text-wrap">
      Pada saat bunting dan menyusui, induk kucing memerlukan makanan dengan kandungan protein tinggi. Pada saat bunting biasanya diberikan makanan
      untuk kitten karena kandungan proteinnya lebih tinggi. Suplemen kalsium dapat diberikan pada induk yang menyusui anaknya.
      </div>
    </div>
  </ion-content>
</ion-view>
